html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    color: #080908;
  }
  
  main {
    max-width: 50rem;
    margin: 2rem auto;
    padding: 3rem 1.6rem 6rem 1.6rem;
    background: linear-gradient(30deg, #770c5a, #a379d0);
    border-radius: 4rem;
    box-shadow: 0 2px 2px rgb(17, 182, 17);
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
  }
  
  section {
    background-color: rgb(218, 211, 217);
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 1rem;
    box-shadow: inset 0 2px 2px rgb(19, 20, 19);
  }
  
  section > div {
    padding: 1.6rem 0;
  }
  
  .bill {
    display: flex;
  }
  .bill label {
    flex: 1;
    align-self: center;
  }
  .bill input {
    flex: 3;
  }
  
  input[type="number"] {
    font-family: inherit;
    background: #dbdbee;
    font-size: 1.6rem;
    border: 1px solid rgb(11, 10, 10);
    border-radius: 0.5rem;
    padding: 0.8rem 0 0.8rem 1rem;
    box-shadow: inset 0 2px 2px rgb(15, 14, 14);
  }
  
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  
  .total {
    font-size: 2rem;
    font-weight: bolder;
  }
  
  .range {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin-top: 1.2rem;
    background: #2d41b2;
    border-radius: 0.3rem;
    outline-color: #0f100f;
  }
  
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #c5298c;
    cursor: pointer;
  }
  
  .range::-moz-range-thumb {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #34e243;
    cursor: pointer;
    border: 0;
  }
  
  .range::-moz-focus-outer {
    border: 0;
  }